.adventages__text {
  background-color: @white;
}

.advantages__list {
  background-color: @light-gray;
  position: relative;

  &::before {
    content:"";
    display: block;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    width: 156px;
    height: 320px;
    position: absolute;
  }
}
