.contacts {
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px auto;
  background-position: center top -33px;
  min-height: 612px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
    background-size: 640px auto;
  }
}

.contacts__inner {
  background-color: @white;
  position: relative;

  &::after {
    content: "";
    display: block;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position: center top;
    position: absolute;
    bottom: -35px;
    left: 0;
    height: 35px;
    width: 100%;
  }
}

.contacts__info {
  padding-top: 44px;
  position: relative;
  text-align: center;

  &::after {
    content: "";
    display: block;
    background-image: url("../img/icon-map-marker.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 140px;
    bottom: -136px;
  }
}

.contacts__list {
  .list();
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__text {
  .light();
  font-size: 24px;
  line-height: 30px;
  display: block;
}

.contacts__title {
  .bold();
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.contacts__value {
  .light();
  font-size: 24px;
  line-height: 30px;
  color: @main-pink;
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
}

.contacts__link {
  color: @main-pink;

  &--mail {
    &:hover {
      color: @main-blue;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-size: 700px auto;
    background-position: center top 60px;
    min-height: 780px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
      background-size: 1400px auto;
    }
  }

  .contacts__inner {
    &::after {
      bottom: -68px;
      height: 68px;
    }
  }

  .contacts__info {
    &::after {
      right: 308px;
      bottom: -232px;
    }
  }

  .contacts__list {
    padding-top: 30px;
    padding-bottom: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts__text {
    font-size: 40px;
    line-height: 48px;
  }

  .contacts__item {
    width: 300px;
    padding: 15px 0 30px 0;

    &:nth-child(3) {
      flex-grow: 1;
    }
  }

  .contacts__value {
    padding: 5px 0 0 0;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-position: center top 90px;
    background-size: 1200px auto;
    min-height: 869px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
      background-size: 2400px auto;
    }
  }

  .contacts__inner {
    &::after {
      bottom: -109px;
      height: 109px;
    }
  }

  .contacts__info {
    padding-top: 68px;

    &::after {
      right: 458px;
      bottom: -307px;
    }
  }

  .contacts__list {
    padding-top: 58px;
    padding-bottom: 15px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contacts__item {
    padding: 0;

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 3;
    }

    &:nth-child(3) {
      order: 2;
      flex-grow: 0;
    }
  }

  .contacts__text {
    font-size: 50px;
    line-height: 58px;
  }

  .contacts__value {
    padding: 23px 0 0 0;
  }
}
