.contest {
  .box();

  fieldset {
    border: none;
  }
}

.contest__inner {
  display: flex;
  flex-direction: column;
}

.contest__achivments {
  background-color: @light-gray;

  .contest__label {
    color: @main-blue;
    line-height: 30px;
    text-transform: none;
  }
}

.contest__os {
  background-color: @light-gray;

  .contest__label {
    color: @main-blue;
    line-height: 30px;
    text-transform: none;
  }
}

.contest__modal {
  background-color: @light-gray;
}

.contest__modal-wrapper {
  background-color: @white;
}

.contest__button {
  background-color: @green-btn;
  color: @white;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
}

.contest__description {
  line-hight: 30px;
}

.contest__label {
  font-size: 14px;
  line-height: 30px;
  color: @main-pink;
  text-transform: uppercase;
}

.contest__input {
  .normal();
  color: @main-blue;
  border: 2px solid @gray;
  border-radius: 2px;
}

.contest__title {
  font-size: 14px;
  line-height: 18px;
  color: @main-pink;
  text-transform: uppercase;
}

.contest__note {
  font-size: 14px;
  line-hight: 30px;
  text-transform: uppercase;

  sup {
    color: @main-pink;
  }
}

.contest__modal-title {
  .bold();
}

.contest__modal-title {
  font-size: 14px;
}
