.contacts {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat; 
  position: relative;
  .box();

  &::after {
  content:"";
  display: block;
  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  }    
}

.contacts__info {
  background-color: @white;
}

.contacts__list {
  .list();
  position: relative;

  &::after {
    content:"";
    display: block;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 35px;
    position: absolute;
  }
}

.contacts__text {
  .light();
  font-size: 24px;
}

.contacts__title {
  .bold();
  font-size: 18px;
}

.contacts__value {
  .light();
  font-size: 24px;
  color: @main-pink;
}

.contacts__link {
  .link();
  color: @main-pink;
}