.contest__achivments {
  background-color: @light-gray;
}

.contest__os {
  background-color: @light-gray;
}

.contest__modal {
  background-color: @light-gray;
}

.contest__modal-wrapper {
  background-color: @white;
}

.contest__button {
  background-color: @green-btn;
  color: @white;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
}