.contest__user,
.contest__os,
.contest__achivments,
.contest__review,
.contest__contacts {
  border: 0px solid transparent;
  padding: 0;
  margin: 0;
}

.contest__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}

.contest__description {
  text-align: center;
  padding-top: 45px;
  padding-bottom: 16px;
  font-size: 14px;
  line-height: 30px;
  padding: 45px 20px 15px 20px;
}

.contest__text {
  margin: 0;
  padding: 0;
  &--add {
    display: none;
  }
}

.contest__item {
  display: flex;
  flex-direction: column;
}

.contest__input-wrapper {
  display: flex;
  flex-direction: column;
  .center();
  padding-bottom: 20px;
}

.contest__user {
  .contest__label {
  padding: 18px 20px 5px 22px;
  }
}

.contest__achivments {
  background-color: @light-gray;
  width: 100%;
  
  .contest__input-wrapper {
    margin-top: 74px;
  }

  .contest__title {
    position: relative;
    top: 55px;
    padding: 0 50px;
    padding-top: 5px;
  }
  
  .contest__label {
    color: @main-blue;
    line-height: 30px;
    font-size: 18px;
    text-transform: none;
    /*Временно*/
    padding: 10px 0 10px 70px;
    margin: 16px 0;
  }
}

.contest__contacts {
  .contest__input-wrapper {
    padding-top: 14px;
  }
  .contest__title {
    display: none;
  }

  .contest__label {
    padding: 18px 20px 5px 22px;
  }
}

.contest__os {
  background-color: @light-gray;
  width: 100%;

  .contest__input-wrapper {
    margin-top: 74px;
  }

  .contest__title {
    position: relative;
    top: 55px;
    padding: 0 50px;
    padding-top: 5px;
  }

  .contest__label {
    color: #283645;
    line-height: 30px;
    font-size: 18px;
    text-transform: none;
    /*Временно*/
    padding: 10px 0 10px 70px;
    margin: 10px 0 15px 0;
  }
}

.contest__review {
  .contest__input-wrapper {
    margin-top: 57px;
    margin-bottom: 27px;
  }
  .contest__title {
    position: relative;
    top: 40px;
  }

  .contest__input {
    font-size: 18px;
    line-height: 30px;
    min-height: 184px;
    resize: none;
    padding: 14px 20px 0 20px;
  }
}

.contest__modal {
  background-color: @light-gray;
}

.contest__modal-wrapper {
  background-color: @white;
}

.contest__label {
  font-size: 14px;
  line-height: 30px;
  color: @main-pink;
  text-transform: uppercase;
}

.contest__input {
  .normal();
  color: @main-blue;
  border: 2px solid @gray;
  padding: 20px 0 18px 21px;
  border-radius: 2px;

  &::-webkit-input-placeholder {
    color: #283645;
  }

  &:hover {
    border-color: @main-blue;  
  }

  &:active,
  &:focus {
    border-color: @main-pink;
    outline: none;
  }
}

.contest__title {
  font-size: 14px;
  line-height: 18px;
  color: @main-pink;
  text-transform: uppercase;
  text-align: center;
}

.contest__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contest__button {
  .bold();
  background-color: @green-btn;
  color: @white;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 22px 47px;

  &:hover {
    background-color: @green-btn-h;
  }    

  &:active {
    background-color: @green-btn-h;
    color: @trans-white;
  }

  &:disabled {
    background-color: @gray;
    color: @white;
  }
}

.contest__note {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 35px;

  sup {
    color: @main-pink;
  }

  span {
    display: none;
  }
}

.contest__modal-title {
  .bold();
  font-size: 14px;
}

@media (min-width: @tablet-width) {
  .contest__inner {
    .center-tab();
  }

  .contest__input-wrapper {
    width: 620px;
    padding: 0;
  }

  .contest__description {
    font-size: 18px;
    line-height: 30px;
    padding: 92px 50px 44px 50px;
  }

  .contest__text {
    &--add {
      display: block;
    }
  }

  .contest__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .contest__input {
    flex-grow: 1;
    margin: 26px 0 27px 0;
  }

  .contest__user {
    order: 1;

    .contest__label {
      padding: 14px 19px 10px 0;
    }
  }

  .contest__os {
    background-color: @white;
    order: 2;
    border: 2px solid @gray;
    border-radius: 2px;
    margin: 32px 0;
    padding: 30px 0 32px 0;
    
    .contest__input-wrapper {
      margin-top: 0;
    }

    .contest__title {
      position: static;
      padding: 0 23px;
    }

    .contest__label {
      margin-left: 50px;
    }
  }


  .contest__contacts {
    border: 2px solid @gray;
    border-radius: 2px;
    margin: 27px 0;
    padding: 22px 0 0 0;
    order: 3;

    .contest__title {
      display: block;
      padding: 0 30px;
    }
    
    .contest__item {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    .contest__input {
      align-self: stretch;
      margin: 0px 60px;
    }

    .contest__label {
      padding: 12px 0 28px 80px;
    }
  }

  .contest__achivments {
    background-color: @white;
    order: 4;
    border: 2px solid @gray;
    border-radius: 2px;
    margin: 28px 0;
    padding: 20px 0 28px 0;

    .contest__input-wrapper {
      margin-top: 0;
    }

    .contest__title {
      position: static;
      padding: 0 30px;
    }

    .contest__label {
      margin-left: 50px;
    }
  }

  .contest__review {
    order: 5;
    border: 2px solid @gray;
    border-radius: 2px;
    margin: 28px 0;
  
    .contest__title {
      position: static;
      padding: 0 35px;
    }

    .contest__input-wrapper {
      margin: 37px 0 54px 0;
    }

    .contest__input {
      margin: 0 58px;
      min-height: 174px;
    }
  }

  .contest__footer {
    flex-direction: row;
    justify-content: space-between;
    order: 6;
    width: 620px;
    padding: 38px 0 48px 0;
    align-items: center;
  }

  .contest__button {
    padding: 22px 57px;
  }

  .contest__note {
    padding-top: 0;
  }
}

@media (min-width: @desktop-width) {

  .contest__inner {
    .center-desk();
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contest__input-wrapper {
    width: 100%;
    padding: 0;
  }

  .contest__description {
    padding: 92px 68px 40px 68px;
  }

  .contest__text {
    display: inline;
  }

  .contest__user {
    width: 435px;
    order: 1;
    
    .contest__input-wrapper {
      padding-top: 13px;
    }
      
    .contest__input {
      margin: 26px 0 27px 0;
    }
  }

  .contest__os {
    width: 431px;
    
    .contest__label {
      padding-left: 83px;
    }
  }

  .contest__contacts {
    padding: 20px 60px 0 60px;

    .contest__input-wrapper {
      width: 820px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    
    .contest__item {
      width: 375px;
    } 

    .contest__input {
      padding: 18px 0 20px 18px;
      margin: 0;
    }

    .contest__label {
      padding: 10px 0 12px 18px;
    }
  }

  .contest__achivments {
    width: 100%;
    margin-top: 30px;
    padding: 23px 58px 18px 58px;

    .contest__input-wrapper {
      display: flex;
      flex-direction: column;
      height: 180px;
      flex-wrap: wrap;
      align-content: space-between;
      padding: 0;
      margin: 0;
    }
    .contest__label {
      margin-left: 0;
      padding: 10px 0 10px 60px;
    }
  }

  .contest__review {
    width: 100%;

    .contest__input {
      min-height: 96px;
      padding: 14px 20px;
    }

    .contest__input-wrapper {
      margin: 35px 0 43px 0;
    } 
  }

  .contest__footer {
    width: 940px;
    padding: 37px 0 0 0;
  }

  .contest__note {
    span {
      display: inline;
    }
  }
}
