.downloads {
  padding: 0 20px;
  background-color: #1d2631;
  position: relative;
  color: @white;
  padding-top: 28px;
  padding-bottom: 30px;
  text-align: center;
}

.downloads__text {
  display: none;
  .light();
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 20px;
  color: @white;
  text-align: center;
}

.downloads__button {
  display: block;
  text-align: center;
  width: 100%;
  background-color: transparent;
  box-shadow: inset 0 0 0 3px @white;
  border-radius: 35px;
  padding: 18px 0;

  .bold();
  color: @white;
  font-size: 18px;
  line-height: 18px;

  &:hover {
    background-color: @white;
    color: @main-pink;
  }

  &:active {
    background-color: @white;
    color: @trans-pink;
  }
}

.downloads__list {
  .list();
  padding: 0 37px;
  display: flex;
  justify-content: space-between;
}

.downloads__item {
  position: relative;
  height: 60px;
  width: 50px;
  margin: 30px 0 20px 0;
}

.downloads__access {
  .light();
  color: @white;
  font-size: 14px;
  padding: 0 25px;
  margin: 0;
  text-align: center;
}

.downloads__link {
  font-size: 0;
  background-color: transparent;
  border: 0;
  position: absolute;
  width: 50px;
  height: 60px;
  top: 0;
  left: 0;

  &--apple::before {
    content: "";
    width: 50px;
    height: 60px;
    background-image: url("../img/logo-apple.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-position: 0 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  &--android::before {
    content: "";
    width: 50px;
    height: 60px;
    background-image: url("../img/logo-android.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
  }

  &--win::before {
    content: "";
    width: 50px;
    height: 50px;
    background-image: url("../img/logo-microsoft.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    position: absolute;
    top: 5px;
    left: 0;
  }
}

@media (min-width: @tablet-width) {
  .downloads {
    background-color: transparent;
    padding: 18px 0 0 0;
    width: 300px;
    margin: 0;
  }

  .downloads__text {
    display: block;
    padding: 31px 50px;
  }

  .downloads__item {
    margin: 43px 11px 17px 9px;
  }

  .downloads__list {
    padding: 0 38px;
  }

  .downloads__access {
    font-size: 18px;
    padding: 18px 0 22px 0;
  }
}

@media (min-width: @desktop-width) {
  .downloads {
    padding: 0;
  }

  .downloads__list {
    padding: 0 48px;
  }

  .downloads__text {
    font-size: 50px;
    line-height: 60px;
    padding: 0;
    margin: 51px 30px 51px 30px;
  }

  .downloads__button {
    font-size: 21px;
  }

  .downloads__item {
    margin: 63px 0 37px 0;
  }
}
