.downloads {
  background-color: #1d2631;
  position: relative;
  color: @white;
  padding-top: 28px;
  padding-bottom: 30px;
}

.downloads__inner {
  .center();
  display: flex;
  flex-direction: column;
  align-items: center;
}

.downloads__text {
  display: none;
  .light();
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 20px;
  color: @white;
  text-align: center;
}

.downloads__button {
  display: block;
  text-align: center;
  width: 100%;
  background-color: transparent;
  box-shadow: inset 0 0 0 3px @white;
  border-radius: 35px;
  padding: 18px 0;

  .bold();
  color: @white;
  font-size: 18px;
  line-height: 18px;

  &:hover {
    background-color: @white;
    color: @main-pink;
  }

  &:active {
    background-color: @white;
    color: @trans-pink;
  }
}

.downloads__list {
  .list();
  display: flex;
  justify-content: space-between;
}

.downloads__item {
  position: relative;
  height: 60px;
  width: 60px;
  padding: 30px 10px 20px 10px;
}

.downloads__access {
  .light();
  color: @white;
  font-size: 14px;
  padding: 0 25px;
  margin: 0;
  text-align: center;
}

.downloads__link {
  font-size: 0;
  background-color: transparent;
  border: 0;

  &--apple::before {
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../img/logo-apple.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
  }

  &--android::before {
    content: "";
    width: 60px;
    height: 59px;
    background-image: url("../img/logo-android.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
  }

  &--win::before {
    content: "";
    width: 60px;
    height: 57px;
    background-image: url("../img/logo-microsoft.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
  }
}

@media (min-width: @tablet-width) {
  .downloads {
    background-color: transparent;
    padding-top: 30px;
  }

  .downloads__inner {
    width: 300px;
    margin: 0;
    margin-right: auto;
    padding: 34px 0 58px 0;
  }

  .downloads__text {
    display: block;
    padding: 31px 50px;
  }

  .downloads__item {
    padding: 43px 11px 17px 9px;
  }

  .downloads__access {
    font-size: 18px;
    padding: 18px 0 22px 0;
  }
}

@media (min-width: @desktop-width) {
  .downloads {
    padding-left: 0;
    padding-right: 0;
  }

  .downloads__inner {
    padding-bottom: 71px;
  }

  .downloads__text {
    font-size: 50px;
    line-height: 60px;
    padding: 46px 30px 53px 30px;
  }

  .downloads__button {
    font-size: 21px;
  }

  .downloads__item {
    padding: 63px 10px 37px 10px;
  }
}
