.logo__image {
  width: 76px;
  height: 22px;
  display: block;
  padding: 22px 0 22px 0;
}

.logo__image-wrapper {
  &--hover {
    display: none;
  }
}

.logo {
  &:hover .logo__image-wrapper {
    &--hover {
      display: block;
    }

    &--peace {
      display: none;
    }
  }

  &:active .logo__image-wrapper {
    &--hover {
      display: none;
    }

    &--peace {
      display: block;
      opacity: 0.3;
    }
  }
}

@media (min-width: 660px) {
  .logo__image {
    width: 150px;
    height: 40px;
    padding: 25px 0 43px 0;
  }
}

@media (min-width: 1200px) {
  .logo__image {
    padding: 0;
    padding-top: 27px;
  }
}
