.logo {
  width: 76px;
  height: 22px;
  display: block;
  padding: 22px 0 22px 0;

}

.logo__image {
  fill: @white;

  &:hover {
    fill: @main-pink;
  }

  &:active {
    fill: @trans-white;
  }
}

.logo__image {
  &--tablet,
  &--desktop {
    display: none;
  }
}

@media (min-width: 660px) {
  .logo {
    width: 150px;
    height: 40px;
    padding: 25px 0 43px 0;
  }

  .logo__image {
    &--tablet {
      display: block;
    }
  }

  .logo__image {
    &--mobile,
    &--desktop {
      display: none;
    }
  }
}
@media (min-width: 1200px) {
  .logo__image {
    padding: 0;
  }

  .logo__image {
    &--desktop {
      display: block;
    }
  }

  .logo__image {
    &--mobile,
    &--tablet {
      display: none;
    }
  }
}
