.main-header {
  background-color: @main-blue;
  background-opacity: 0.3;

  .bold();
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
}

@media(min-width: @desktop-width) {
  .main-header {
    display: flex;
    justify-content: space-between;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .main-header__inner {
    width: 960px;
    .center();
    .desktop-box();
    display: flex;
    justify-content: space-between;
  }
}
