.main-page {
  .normal();
  font-size: 18px;
  line-height: 24px;
}

.main-page__header {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.main-page__title {
  .light();
  font-size: 24px;
  color: @white;	
}

.main-page__intro {
  line-hight: 30px;
}