.main-navigation {
  position: relative;
}

.main-navigation__list {
  .list();
  color: @white;
  display: flex;
  flex-direction: column;
}

.main-navigation__item {
  padding: 20px 0;
  border-top: 1px solid @dark-gray;
  border-bottom: 1px solid @black;
  text-align: center;
}

.main-navigation__link {
  color: @white;
  display: block;
  padding: 25px 20px;
  text-align: center;
}

.main-navigation__toggle {
  font-size: 0;
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 65px;
  top: -35px;
  z-index: 3;

  &::after {
    content: "";
    width: 50px;
    height: 25px;
    background-image: url("../img/icon-menu-burger.svg");
    background-repeat: no-repeat;
    position: absolute;
  }

  &::before {
    content: "";
    width: 50px;
    height: 25px;
    background-image: url("../img/icon-menu-cross.svg");
    background-repeat: no-repeat;
    background-position: 25px 0;
    position: absolute;
  }
}

@media(min-width: @desktop-width) {
  .main-navigation {
    display: flex;
    flex-direction: row;
  }

  .main-navigation__toggle {
    display: none;
  }

  .main-navigation__list {
    width: 620px;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-navigation__item {
    border: none;
  }

  .main-navigation__link {
    padding: 39px 0;
  }
}

