.main-page__header {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;

  /*&::before {
    content: "";
    display: block;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    height: 100%;
    width: 257px;
    position: relative;
    top: 177px;
  } 8*/  
}

.main-page__header-inner {
  min-width: 320px;
  padding-top: 426px;
  .center();
}

.main-page__title {
  .light();
  font-size: 24px;
  color: @white;
  padding: 40px;
  margin: 0;
}

.main-page__intro {
  line-height: 30px;
}

@media (min-width: @tablet-width) {
  .main-page__header {
    min-height: 732px;
  }

  .main-page__header-inner {
    max-width: 660px;
    padding-top: 50px;
  }
}

@media (min-width: @desktop-width) {
  .main-page__header {
    min-height: 851px;
  }

  .main-page__header-inner {
    max-width: 960px;
    .desktop-box();
    padding-top: 50px;
  }
}