.posts__inner {
  display: flex;
  flex-direction: column;
}

.posts__item {
  background-color: @light-gray;
  margin-bottom: 21px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.posts__item--wide {
  background-color: @white;
}

.posts__photo {
  width: 280px;
  height: auto;
}

.posts__image {
  vertical-align: bottom;
}

.posts__photo--wide {
  width: 320px;
  margin: 0 -20px;
}

.posts__comment {
  background-color: @light-gray;
  padding: 16px 0 0 0;
}

.posts__marker {
  .bold();
  color: @white;
  font-size: 12px;
  line-height: 24px;
  background-color: @main-pink;
  position: absolute;
  padding: 6px 20px;
  right: 0;
  top: 0;
  text-transform: uppercase;
}

.posts__author {
  .bold();
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  padding: 17px 0 0 18px;
}

.posts__time {
  .light();
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 4px;
}

.posts__item--wide .posts__author {
  padding: 16px 0 0 18px;
}

.posts__text {
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  margin: 0;
  padding: 0 0 10px 18px;
}

.posts__likes {
  font-size: 12px;
  color: @main-pink;
  position: relative;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 19px 18px;
  display: flex;

  &::before {
    content: "";
    display: block;
    height: 24px;
    width: 13px;
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-right: 18px;
  }
}

.posts__info {
  background-color: @white;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  padding: 0;
  margin: 0;

  &:first-of-type {
    padding-top: 23px;
  }

  &:last-of-type {
    padding-bottom: 41px;
  }
}

@media (min-width: @tablet-width) {
  .posts__inner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 30px;
  }

  .posts__item {
    width: 300px;
    min-height: 455px;

    &--wide {
      width: 660px;
      margin: 0 -20px;
    }
  }

  .posts__photo {
    width: 300px;

    &--wide {
      width: 700px;
    }
  }

  .posts__marker {
    top: 57px;
    right: 20px;
  }

  .posts__comment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 23px 0 0 0;
    margin-bottom: 50px;
  }

  .posts__author {
    padding: 24px 0 0 27px;
  }

  .posts__item--wide .posts__author {
    padding: 0 0 0 27px;
    order: 1;
  }

  .posts__text {
    padding: 0 27px;
  }

  .posts__item--wide .posts__text {
    flex-grow: 1;
    padding-bottom: 23px;
    order: 3;
  }

  .posts__likes {
    margin-top: auto;
    padding-bottom: 22px;
    padding-left: 27px;
    padding-right: 15px;
    justify-content: space-between;

    &::before {
      order: 2;
    }
  }

  .posts__item--wide .posts__likes {
    position: static;
    padding: 0;
    margin-left: auto;
    order: 2;
    padding-right: 27px;

    &::before {
      padding-left: 18px;
      padding-right: 0;
      background-position: 100% 50%;
    }
  }

  .posts__info {
    width: 100%;
    font-size: 18px;
    line-height: 30px;

    &:first-of-type {
      padding-top: 43px;
    }

    &:last-of-type {
      padding-bottom: 69px;
    }
  }
}

@media (min-width: @desktop-width) {
  .posts__inner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 30px;
  }

  .posts__comment {
    padding: 23px 0 0 0;
  }

  .posts__marker {
    top: 55px;
    right: 130px;
  }

  .posts__item {
    min-height: 555px;
    margin-bottom: 53px;

    &--wide {
      width: 960px;
      margin-bottom: 21px;
    }
  }

  .posts__photo--wide {
    width: 960px;
    margin: 0 -10px;
  }

  .posts__item--wide .posts__likes {
    padding-right: 30px;
  }

  .posts__info {
    font-size: 18px;

    &:first-of-type {
      padding-top: 8px;
    }

    &:last-of-type {
      padding-bottom: 65px;
    }
  }
}
