.price {
  background-color: @light-gray;
  padding-top: 66px;
  padding-bottom: 38px;
}

.price__inner {
  .wide();
  padding-left: 0;
  padding-right: 0;
}

.price__list {
  box-sizing: border-box;
  overflow: hidden;
  margin-left: -258px; 
}

.price__item {
  box-sizing: border-box;
  border-left: 2px solid @gray;
  width: 278px;
  flex-shrink: 0;
  position: relative;

  &:first-child {
    display: none;
  }

  &:last-child {
    border-right: 2px solid @gray;
  }

  &--popular::before {
    content: "";
    display: block;
    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
    height: 73px;
    width: 73px;
    position: absolute;
    left: -2px;
  }
}

.price__type {
  background-color: @main-blue;
  text-align: center;
  padding: 17px 0 22px 0;
}

.price__marker {
  color: @white;
  line-height: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
  transform: rotate(-45deg);
}

.price__option {
  background-color: @white;
  border-bottom: 2px solid @gray;
  margin: 0;
  position: relative;
  padding: 14px 15px 14px 20px;

  &--checked::after {
    content: "";
    display: block;
    background-image: url("../img/icon-yes.svg");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 20px;
    right: 15px;
  }

  &--canceled::after {
    content: "";
    display: block;
    background-image: url("../img/icon-no.svg");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.price__title {
  .bold();
  color: @white;
  line-height: 30px;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0;
}

.price__sum {
  .light();
  color: @white;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.price__options {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.price__list {
  display: flex;
}

@media (min-width: @tablet-width) {
  .price {
    padding-bottom: 6px;
    padding-top: 38px;
  }

  .price__list {
    overflow: visible;
    margin: 0
  }

  .price__item {
    width: 155px;
    border: none;

    &::before {
      content: "";
      display: block;
      background-image: url("../img/bg-hit-tablet.svg");
      background-repeat: no-repeat;
      height: 61px;
      width: 61px;
      position: absolute;
      left: 2px;
    }

    &:last-child {
      border: none;
    }

    &:first-child {
      display: block;
      margin-top: 77px;
      border-top: 2px solid @gray;
    }
  }

  .price__item:not(:first-child) .price__option-name {
    display: none;
  }

  .price__item:not(:first-child) .price__option {
    padding: 22.5px 0;
  }

  .price__item:first-child .price__option {
    padding: 8px 15px 7px 13px;
  }

  .price__item:first-child .price__option--checked::after,
  .price__item:first-child .price__option--canceled::after {
    display: none;
  }

  .price__type {
    border-left: 2px solid @gray;
    padding: 13px 0 12px 0;
  }

  .price__item:first-child .price__type {
    display: none;
  }

  .price__item:nth-child(2) .price__type {
    border-left: 2px solid @main-blue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }

  .price__item:last-child .price__type {
    border-right: 1px solid @main-blue;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  }

  .price__title {
    font-size: 16px;
    line-height: 30px;
  }

  .price__options {
    text-transform: none;
    border-left: 2px solid @gray;
  }

  .price__item:last-child .price__options {
    border-right: 2px solid @gray;
  }

  .price__marker {
    top: 3px;
    left: 5px;
  }

  .price__sum {
    font-size: 18px;
    line-height: 24px;
  }

  .price__option--checked::after {
    bottom: 13px;
    left: 65px;
  }

  .price__option--canceled::after {
    top: 8px;
    left: 64px;
  }
}

@media (min-width: @desktop-width) {
  .price {
    padding-top: 64px;
    padding-bottom: 31px;
  }

  .price__item {
    width: 235px;

    &--popular::before {
      content: "";
      display: block;
      background-image: url("../img/bg-hit.svg");
      background-repeat: no-repeat;
      height: 73px;
      width: 73px;
      position: absolute;
      left: 2px;
    }

    &:first-child {
      margin-top: 97px;
    }
  }

  .price__item:not(:first-child) .price__option {
    padding: 29.7px 0;
  }

  .price__item:first-child .price__option {
    padding: 14px 20px 15px 20px;
  }

  .price__marker {
    top: 10px;
    left: 10px;
  }

  .price__type {
    padding: 17px 0 21px 0;
  }

  .price__option {
    font-size: 18px;
    line-height: 30px;
  }

  .price__title {
    font-size: 18px;
  }

  .price__sum {
    font-size: 24px;
    line-height: 30px;
  }

  .price__option--checked::after {
    top: 27px;
    left: 103px;
  }

  .price__option--canceled::after {
    top: 15px;
    left: 100px;
  }
}
