.research {
  display: none;
}

@media (min-width: @tablet-width) {
  .research {
    display: block;    
    width: 620px;
    padding: 55px 20px;
    .center();
  }

  .research__inner {
    padding-left: 50%;
  }

  .research__link {
    color: @main-pink;
    text-decoration: underline;
  }
}