.reviews {
  .box();
  background-color: @white;
}

.reviews__list {
  .list();
  display: flex;
}

.reviews__item {
  text-align: center;
  margin: 0;
  padding: 50px 0;
  flex-shrink: 1;
}

.reviews__author {
  .bold();
  font-size: 18px;
  line-height: 30px;
}

.reviews__text {
  line-height: 30px;
  margin: 0;
  padding-top: 25px;
}
