.reviews {
  padding: 0 20px;
  background-color: @white;
}

.reviews__list {
  .list();
  display: flex;
}

.reviews__item {
  text-align: center;
  margin: 0;
  padding: 42px 0 49px 0;
  display: flex;
  flex-direction: column;

  &:not(:nth-child(1)) {
    display: none;
  }
}

.reviews__author {
  .bold();
  font-size: 18px;
  line-height: 30px;
}

.reviews__author-data {
  display: none;
  font-size: 14px;
  line-height: 30px;
}

.reviews__text {
  line-height: 30px;
  font-size: 14px;
  margin: 0;
  padding-top: 15px;
}

@media (min-width: @tablet-width) {
  .reviews__inner {
    width: 620px;
    margin: 0 auto;
  }

  .reviews__item {
    padding: 54px 0 56px 0;
  }

  .reviews__text {
    font-size: 18px;
    padding-bottom: 35px;
    order: 1;
  }

  .reviews__author {
    order: 2;
    font-size: 20px;
    line-height: 30px;
  }

  .reviews__author-data {
    display: block;
    order: 3;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    padding: 0 10px;
  }

  .reviews__inner {
    width: 960px;
    margin: 0 auto;
  }

  .reviews__text {
    padding-bottom: 37px;
  }

  .reviews__author-data {
    font-size: 18px;
    line-height: 32px;
  }

  .reviews__author {
    font-size: 24px;
    line-height: 30px;
  }

  .reviews__item {
    width: 700px;
    margin: 0 auto;
    padding: 170px 60px 60px 60px;
  }
}
