.slider {
  position: relative;
  background-color: transparent;
}

.slider__toggles {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 44px;
  left: 128px;
  z-index: 100;
  width: 64px;
  height: 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.slider__toggle {
  width: 6px;
  height: 6px;
  margin: 4px;
  border-radius: 50%;
  background-color: @slider-gray;
  opacity: 0.3;

  &:hover:not(:checked) {
    opacity: 1;
  }

  &:active:not(:checked) {
    opacity: 0.1;
  }
}

.slider__input--1:checked ~ .slider__toggles .slider__toggle--1,
.slider__input--2:checked ~ .slider__toggles .slider__toggle--2,
.slider__input--3:checked ~ .slider__toggles .slider__toggle--3 {
  background-color: transparent;
  box-shadow: 0 0 0 3px @main-blue;
  opacity: 1;
}

@media (min-width: 660px) {
  .slider__toggles {
    bottom: 24px;
    left: 298px;
  }

  .slider__toggles--price {
    display: none;
  }
}

@media (min-width: 1200px) {
  .slider__toggles {
    width: 940px;
    padding: 0 10px;
    left: 0;
    bottom: 187px;
  }

  .slider__toggle {
    display: none;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }

    &--previous,
    &--next {
      display: block;
      width: 23px;
      height: 44px;
      margin: 0;
      border-radius: 0;
      background-color: transparent;
    }

    &--previous {
      background-image: url("../img/icon-review-arrow-left.svg");
      background-repeat: no-repeat;
      background-size: 23px 44px;
    }

    &--next {
      background-image: url("../img/icon-review-arrow-right.svg");
      background-repeat: no-repeat;
      background-size: 23px 44px;
    }
  }

  .slider__input--1:checked ~ .slider__toggles .slider__toggle--1,
  .slider__input--2:checked ~ .slider__toggles .slider__toggle--2,
  .slider__input--3:checked ~ .slider__toggles .slider__toggle--3 {
    box-shadow: none;
    opacity: 0.3;
  }

  .slider__input--1:checked ~ .slider__toggles .slider__toggle--1:hover,
  .slider__input--2:checked ~ .slider__toggles .slider__toggle--2:hover,
  .slider__input--3:checked ~ .slider__toggles .slider__toggle--3:hover {
    opacity: 0.6;
  }

  .slider__input--1:checked ~ .slider__toggles .slider__toggle--1:active,
  .slider__input--2:checked ~ .slider__toggles .slider__toggle--2:active,
  .slider__input--3:checked ~ .slider__toggles .slider__toggle--3:active {
    opacity: 0.1;
  }
}
