.slider {
  position: relative;
  background-color: transparent;
}

.slider__toggles {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 40px;
  left: 132px;
  z-index: 100;
  width: 56px;
  height: 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.slider__toggle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: @slider-gray;
}

@media (min-width: 660px) {
  .slider__toggles {
    bottom: 20px;
    left: 302px;
  }

  .slider__toggles--price {
    display: none;
  }
}

@media (min-width: 1200px) {
  .slider__toggles {
    display: none;
  }
}
