.user-post {
  background-color: @light-gray;
}

.user-post__inner {
  .box();
  width: 280px;
  display: flex;
  flex-direction: column;
  .center();
}

.user-post__options {
  display: flex;
  flex-direction: column;
}

.user-post__process-wrapper {
  display: flex;
  flex-direction: row;
}

.user-post__button-wrapper {
  display: flex;
  flex-direction: column;
}

.user-post__info {
  background-color: @white;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  .center();
  width: 280px;
}

.user-post__process {
  position: relative;

  &--crop::before {
    content: "";
    display: block;
    background-image: url("../img/icon-editor-crop.svg");
    background-repeat: no-repeat;
    height: 44px;
    width: 44px;
    position: absolute;
  }

  &--fill::before {
    content: "";
    display: block;
    background-image: url("../img/icon-editor-fill.svg");
    background-repeat: no-repeat;
    height: 43px;
    width: 48px;
    position: absolute;
  }

  &--contrast::before {
    content: "";
    display: block;
    background-image: url("../img/icon-editor-contrast.svg");
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    position: absolute;
  }
}

.user-post__button {
  background-color: transparent;
  .bold();
  color: @main-pink;
  line-height: 18px;
  border: 3px solid @main-pink;
  border-radius: 25px;

  &--reset {
    color: #dddfe0;
    border: 3px solid #dddfe0;
  }
}

@media(min-width: @tablet-width) {
  .user-post__inner {
    width: 620px;
    display: flex;
    flex-direction: row;
    .center();
  }

  .user-post__process-wrapper {
      flex-direction: column;
  }

  .user-post__info {
    width: 430px;
  }
}

@media(min-width: @desktop-width) {
  .user-post {
    width: 940px;
    .center();
    .desktop-box();
  }

  .user-post__inner {
    width: 940px;
    display: flex;
    flex-direction: row;
  }

  .user-post__button-wrappe {
    flex-direction: row;
  }
}
