.normal() {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  color: @main-blue;
}

.light() {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  color: @main-blue;
}

.bold() {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  color: @main-blue;
}

.list() {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link() {
  text-decoration: none;
}

.box() {
  padding: 0 20px;
}

.center() {
  margin: 0 auto;
}