.normal() {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  color: @main-blue;
}

.light() {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  color: @main-blue;
}

.bold() {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  color: @main-blue;
}

.list() {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link() {
  text-decoration: none;
}

.center() {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.center-tab() {
  width: 620px;
  padding: 0 20px;
  margin: 0 auto;
}

.center-desk() {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.wide() {
  width: @mobile-width;

  @media (min-width: @tablet-width) {
    width: 620px;
    padding: 0 20px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    padding: 0 10px;
  }
}
