@main-blue: #283645;
@white: #ffffff;
@light-gray: #f2f2f2;
@gray: #e5e5e5;
@green-btn: #2aab6d;
@green-btn-h: #1c9b5e;
@gray-btn: #dddfe0;
@gray-btn-h: #b5b9be;
@main-pink: #d22856;
@dark-gray: #485461;
@black: #000000;
@tablet-width: 660px;
@desktop-width: 1200px;
@trans-pink: rgba(210, 40, 86, 0.3);
@trans-white: rgba(255, 255, 255, 0.3);
@border-gray: #e9ebec;
@trans-gray: rgba(233, 235, 236, 0.3);
